* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #F2D653;
    color: #37424A;
}

a {
    text-decoration: none;
    color: #37424A;
}

h2 {
    display: inline-block;
    color: #2A4365;
    font-size: 2rem;
}

.container {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.meal {
    background-color: #fff;
    -webkit-box-shadow: 10px -2px 42px -13px rgba(0,0,0,1);
    -moz-box-shadow: 10px -2px 42px -13px rgba(0,0,0,1);
    box-shadow: 10px -2px 42px -13px rgba(0,0,0,1);
    display: flex;
}

.meal-img {
   flex: 1;
   overflow: hidden;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   border-radius: 5px;
}

.meal-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.meal-details {
    flex: 2;
    padding: 30px;
    position: relative;
}

.meal-details .btn-view-recipe {
    position: absolute;
    bottom: -10px;
    right: -10px;
}

.meal-title {
    margin: 0 0 20px;
    color: #2A4365;
    font-size: 1.8rem;
    font-weight: 400;
}

.meal-instructions {
    font-size: 14px;
}

.meal-info {
    display: flex;
    list-style-type: none;
    padding: 0;
    font-weight: 400;

}

.meal-info li {
    font-size: 14px;
    margin-right: 50px;
    color: #718096;
    font-weight: 300;
}

.meal-info a {
    color: #718096;
}

.meal-info strong {
    display: block;
    color: #2A4365;
    font-size: 16px;
    margin-top: 5px;
 
}

.btn-view-recipe {
    background-color: #1C3144;
    color: #fff;
    padding: 15px 25px;
    font-size: 0.8rem;
    cursor: pointer;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0 5px 5px rgba(0,0,0,0.15);
}

